<html>
<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
  <script src="http://fb.me/react-0.5.1.js"></script>
  <script src="js/GroupChatClient.js"></script>
</head>

<body>
</body>

</html>