<html>
  <head>
      <title>{{title}}</title>
    <form name="input" action="/new_user" method="post">
      Username: <input type="text" name="username">
      <input type="submit" value="Submit">
    </form>
  </head>
</html>