.container
  width        100%
.chatarea
  width        50%
  margin       0 auto
  .messagewindow
    margin 0 0 2px
    .incomingmessages
      resize       none
      float        left
      width        70%
      height       450px
    .participantscontainer
      float        right
      width        20%
      ul
        padding           0 0 0 0
        list-style        none
  .messagingwindow
    .outgoingmessage
      margin 2px 0 0 0
      width        70%
      height       30px
